body {
    font-size: 16px;
    background-color: $hard_blue;
    color: $white;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
