%linear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(131);
  height: rem(46);
  border-radius: rem(6);
  box-shadow: 0 2px 18px 0 rgba(44,220,235,0.42);
  border: 1px solid $soft_blue;
  @extend %btn-text;
  color: $white;
  @include for-width(-tablet) {
    width: rem(100);
    height: rem(32);
    @include font_sizes(10, 15)
  }
}
%linear-without-border {
  @extend %linear-btn;
  box-shadow: none;
  border-color: transparent;
}
