// ================ Muli-Bold ================
@include font_face(Muli-Bold, Muli-Bold);

%bold {
  font-family: 'Muli-Bold', sans-serif;
}

// ################ Muli-Bold ################

// ================ Muli-ExtraBold ==============
@include font_face(Muli-ExtraBold, Muli-ExtraBold);

%extrabold {
  font-family: 'Muli-ExtraBold', sans-serif;
}

// ################### Muli-ExtraBold ###################

// ================ Muli-Regular ==================
@include font_face(Muli-Regular, Muli-Regular);

%regular {
  font-family: 'Muli-Regular', sans-serif;
}

// ################### Muli-Regular ################

// ================ Muli-SemiBold ==================
@include font_face(Muli-SemiBold, Muli-SemiBold);

%semi-bold {
  font-family: 'Muli-SemiBold', sans-serif;
}

// ################### Muli-SemiBold ################

// ====================== Font sizes =======================
%ttu {
  text-transform: uppercase;
}

%small-text {
  @extend %regular;
  @include font_sizes(14, 18)
}
%menu-text {
  @extend %bold;
  @include font_sizes(14, 18)
}

%h1-title {
  @extend %extrabold;
  @include font_sizes(48, 60)
}

%h2-title {
  @extend %extrabold;
  @include font_sizes(36, 46)
}

%small-title {
  @extend %extrabold;
  @include font_sizes(10, 13)
}

%h3-title {
  @extend %semi-bold;
  @include font_sizes(20, 25)
}

%body-text {
  @extend %regular;
  @include font_sizes(16, 26)
}

%circle-title {
  @extend %regular;
  @include font_sizes(14, 23)
}

%btn-text {
  @extend %extrabold;
  @include font_sizes(12, 15)
}
