<template>
  <a href="#" class="v-button">
    <slot></slot>
  </a>
</template>

<script>
  export default {
    name: "BaseButton"
  }
</script>

<style lang="scss" scoped>
.v-button {
  @extend %linear-btn;
}
</style>
