<template>
  <div class="blob-object" ref="wrap"></div>
</template>

<script>
  export default {
    name: "BlobObject",
    props: {
      blob_radius: {
        type: Number,
        default: 3
      },
      width: {
        type: Number,
        default: 150
      },
      height: {
        type: Number,
        default: 150
      },
      speed: {
        type: Number,
        default: 100,
      },
    },
    data() {
      return {
        two: null,
        radius: null,
        strength: 0.0625,
        drag: 0.0,
        background: null,
        foreground: null,
        physics: null,
        points: [],
      }
    },
    methods: {
      resize() {
        this.background.translation.set(this.two.width / 2, this.two.height / 2);
        this.foreground.translation.set(this.two.width / 2, this.two.height / 2);
      }
    },
    mounted() {
      if (window.Two) {
        // wind
        this.two = new Two({
          type: Two.Types['svg'],
          width: this.width,
          height: this.height,
          autostart: true
        }).appendTo(this.$refs.wrap);
        this.radius = this.two.height / this.blob_radius;
        this.background = this.two.makeGroup();
        this.foreground = this.two.makeGroup();
        let physics = new Physics();

        for (let i = 0; i < Two.Resolution; i++) {
          let pct = i / Two.Resolution;
          let theta = pct * Math.PI * 2;
          let ax = this.radius * Math.cos(theta);
          let ay = this.radius * Math.sin(theta);
          let variance = Math.random() * 0.5 + 0.5;
          let bx = variance * ax;
          let by = variance * ay;
          let origin = physics.makeParticle(this.speed, ax, ay)
          let particle = physics.makeParticle(Math.random() * this.speed * 0.66 + this.speed * 0.33, bx, by);
          let spring = physics.makeSpring(particle, origin, this.strength, this.drag, 0);
          origin.makeFixed();
          particle.shape = this.two.makeCircle(particle.position.x, particle.position.y, 5);
          particle.shape.noStroke().fill = 'transparent';
          particle.position = particle.shape.translation;
          this.foreground.add(particle.shape)
          this.points.push(particle.position);
        }

        let inner = new Two.Path(this.points, true, true)
        inner.noStroke();
        inner.scale = 1.2;
        this.background.add(inner);
        this.resize();
        this.two.bind('resize', this.resize).bind('update', () => {
          physics.update();
        })

      }
    }
  }
</script>

<style lang="scss">
.blob-object {
  svg {
    g {
      &#two-1 {
        path {
          fill: rgba(44, 220, 235, 0.1);
        }
      }
    }
  }
}
</style>
