<template>
  <section class="c-business-sect">
    <div class="container">
      <div class="c-business">
        <h2 class="c-business__title">
          Streamline your <b>Business Processes</b>
        </h2>
        <div class="c-business__wrap c-business__wrap_left">
          <div class="c-business__items-wrap">
            <div class="c-business__icon-item iconItems c-business__icon-item_cv" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="110" height="110" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg width="38px" height="50px" viewBox="0 0 38 50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
                    <title>5B2458CB-EB8A-484F-89D2-75055EE402F0</title>
                    <desc>Created with sketchtool.</desc>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="main" transform="translate(-207.000000, -969.000000)">
                        <g id="Group-27" transform="translate(207.000000, 969.000000)">
                          <rect id="Rectangle" fill="#EDEDF0" x="0" y="0" width="38" height="50" rx="2"></rect>
                          <circle id="Oval" fill="#9F9FAD" cx="11" cy="10" r="5"></circle>
                          <rect id="Rectangle" fill="#BBBBC6" x="19" y="7" width="13" height="3" rx="1.5"></rect>
                          <rect id="Rectangle-Copy-56" fill-opacity="0.5" fill="#BBBBC6" x="19" y="11" width="11"
                                height="3" rx="1.5"></rect>
                          <rect id="Rectangle" fill-opacity="0.5" fill="#9F9FAD" x="6" y="18" width="26" height="8"
                                rx="2"></rect>
                          <rect id="Rectangle-Copy-58" fill-opacity="0.3" fill="#9F9FAD" x="6" y="27" width="26"
                                height="8" rx="2"></rect>
                          <rect id="Rectangle-Copy-59" fill-opacity="0.5" fill="#9F9FAD" x="6" y="36" width="16"
                                height="8" rx="2"></rect>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 108 8" id="line_filled" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1 -1)" fill="none" fill-rule="evenodd"><path d="M5 5l96 .5" stroke="#2CDCEB" stroke-linecap="square"></path><rect fill="#2CDCEB" transform="rotate(45 105 5)" x="102" y="2" width="6" height="6" rx="1"></rect><rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect></g></svg>
              </div>
              <div class="c-business__text">
                Upload CV
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_search" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 54 57" id="sm-icon" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <path stroke="#EDEDF0" stroke-opacity=".3"
                            d="M13.267 19.229l-3.058 24.026 33.082-9.92L16.164 9.963z"></path>
                      <circle cx="15.739" cy="10.634" r="10.634" fill="#EDEDF0"></circle>
                      <g transform="translate(0 35.731)">
                        <circle cx="10.634" cy="10.634" r="10.634" fill="#EDEDF0"></circle>
                        <path fill="#9F9FAD"
                              d="M11.458 11.93c-.218-.035-.223-.634-.223-.634s.64-.633.78-1.485c.374 0 .606-.905.23-1.224.017-.335.483-2.632-1.878-2.632-2.362 0-1.895 2.297-1.88 2.632-.375.319-.143 1.224.232 1.224.14.852.779 1.485.779 1.485s-.005.599-.223.634c-.701.111-3.32 1.266-3.32 2.533h8.822c0-1.267-2.618-2.422-3.32-2.533z"></path>
                      </g>
                      <circle cx="42.963" cy="31.052" r="10.634" fill="#EDEDF0"></circle>
                      <path fill="#9F9FAD"
                            d="M43.786 32.347c-.218-.034-.223-.633-.223-.633s.64-.633.78-1.485c.375 0 .606-.905.231-1.224.016-.335.482-2.632-1.88-2.632-2.36 0-1.894 2.297-1.879 2.632-.375.319-.143 1.224.232 1.224.14.852.78 1.485.78 1.485s-.006.599-.223.633c-.702.112-3.32 1.267-3.32 2.534h8.822c0-1.267-2.619-2.422-3.32-2.534zM18.058 11.501l-1.358-.34-.078-.313c.937-.158 1.419-.439 1.44-.451a.178.178 0 0 0 .018-.293c-.006-.005-.64-.528-.64-2.34 0-1.53-.357-2.305-1.063-2.305h-.105c-.254-.246-.445-.355-.959-.355-.666 0-2.126.67-2.126 2.66 0 1.812-.634 2.335-.638 2.339a.178.178 0 0 0 .014.293c.022.013.5.295 1.442.452l-.079.313-1.358.34a1.99 1.99 0 0 0-1.508 1.934c0 .098.08.177.177.177h8.153c.098 0 .177-.08.177-.178 0-.916-.62-1.71-1.509-1.933z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 108 8" id="line_filled" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(-1 -1)" fill="none" fill-rule="evenodd">
                    <path d="M5 5l96 .5" stroke="#2CDCEB" stroke-linecap="square"></path>
                    <rect fill="#2CDCEB" transform="rotate(45 105 5)" x="102" y="2" width="6" height="6" rx="1"></rect>
                    <rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div class="c-business__text">
                Search & Match Candidates
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_submit" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg width="41px" height="41px" viewBox="0 0 41 41" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="main" transform="translate(-631.000000, -973.000000)">
                        <g id="Group-28" transform="translate(631.000000, 973.000000)">
                          <circle id="Oval" fill="#EDEDF0" cx="20.5" cy="20.5" r="20.5"></circle>
                          <g id="check-mark-(2)" transform="translate(13.000000, 13.000000)" fill="#9F9FAD">
                            <path d="M5.45871429,15 C4.99242857,15 4.55142857,14.7818571 4.26792857,14.4077143 L0.439071429,9.35121429 C-0.0589285714,8.69357143 0.0707142857,7.75714286 0.728357143,7.25892857 C1.38707143,6.7605 2.32285714,6.891 2.82107143,7.54821429 L5.33935714,10.8735 L11.673,0.703928571 C12.1090714,0.00428571429 13.0298571,-0.209785714 13.731,0.225642857 C14.4312857,0.6615 14.6451429,1.58292857 14.2088571,2.28321429 L6.72685714,14.2960714 C6.46692857,14.7137143 6.01821429,14.9764286 5.52685714,14.9987143 C5.50392857,14.9995714 5.48142857,15 5.45871429,15 Z"
                                  id="Path"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 46 228" id="line_unfilled_right" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(-1 -1)" fill="none" fill-rule="evenodd">
                    <path d="M2 5l44 .5V226H2" stroke-opacity=".5" stroke="#FFF" stroke-linecap="square"></path>
                    <rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect>
                    <rect fill="#2CDCEB" transform="rotate(45 5 225)" x="2" y="222" width="6" height="6" rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div class="c-business__text">
                Submit Candidates
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_manage" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 38 58" id="settings-icon" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <path fill="#EDEDF0" fill-rule="nonzero"
                            d="M32.462 31.797l-1.846-.762c.32-1.592.311-3.203 0-4.748l1.856-.763c.66-.273.98-1.036.706-1.695l-.838-2.016a1.303 1.303 0 0 0-1.696-.706l-1.855.763a12.25 12.25 0 0 0-3.353-3.363l.763-1.846a1.299 1.299 0 0 0-.697-1.696l-2.016-.838a1.299 1.299 0 0 0-1.696.697l-.763 1.846a12.021 12.021 0 0 0-4.747 0l-.763-1.855a1.303 1.303 0 0 0-1.695-.707l-2.016.839a1.303 1.303 0 0 0-.706 1.695l.763 1.856A12.25 12.25 0 0 0 8.5 21.85l-1.846-.763a1.299 1.299 0 0 0-1.696.697L4.12 23.8a1.299 1.299 0 0 0 .697 1.695l1.846.763a12.021 12.021 0 0 0 0 4.747l-1.855.763a1.303 1.303 0 0 0-.707 1.696l.839 2.015c.273.66 1.036.98 1.695.707l1.856-.763a12.25 12.25 0 0 0 3.353 3.362l-.763 1.847a1.299 1.299 0 0 0 .697 1.695l2.016.838a1.299 1.299 0 0 0 1.695-.697l.763-1.846c1.592.32 3.202.311 4.747 0l.763 1.856c.273.66 1.036.98 1.696.706l2.015-.838c.66-.273.98-1.036.707-1.696l-.763-1.855a12.25 12.25 0 0 0 3.362-3.353l1.847.763a1.299 1.299 0 0 0 1.695-.697l.838-2.016a1.288 1.288 0 0 0-.697-1.696zm-16.04 2.223c-2.968-1.224-4.371-4.624-3.146-7.591 1.224-2.967 4.624-4.37 7.591-3.146 2.967 1.224 4.37 4.624 3.146 7.591-1.224 2.967-4.624 4.37-7.591 3.146z"></path>
                      <g transform="translate(10 20)">
                        <circle cx="8.5" cy="8.5" r="8.5" fill="#D5D5DB"></circle>
                        <path fill="#9F9FAD"
                              d="M9.398 9.775c-.174-.027-.178-.506-.178-.506s.511-.506.623-1.187c.3 0 .485-.723.185-.978C10.041 6.836 10.413 5 8.526 5 6.638 5 7.01 6.836 7.024 7.104c-.3.255-.115.978.185.978.111.68.623 1.187.623 1.187s-.004.479-.178.506C7.094 9.865 5 10.788 5 11.8h7.052c0-1.012-2.093-1.936-2.654-2.025z"></path>
                      </g>
                      <path fill="#53526C"
                            d="M3.67 8.114c8.494-8.494 22.318-8.494 30.822 0l.135.135H31.99a.879.879 0 0 0-.876.876c0 .48.395.875.876.875h4.743a.879.879 0 0 0 .875-.875V4.382a.879.879 0 0 0-.875-.876.879.879 0 0 0-.876.876v2.636l-.135-.135c-9.177-9.177-24.107-9.177-33.285 0a.877.877 0 0 0 0 1.231.86.86 0 0 0 1.232 0zM.995 53.658a.879.879 0 0 0 .876-.876v-2.637l.125.135c4.591 4.59 10.616 6.881 16.65 6.881 6.026 0 12.06-2.3 16.651-6.881a.877.877 0 0 0 0-1.232.877.877 0 0 0-1.232 0c-8.498 8.498-22.329 8.498-30.837 0l-.135-.135h2.638a.879.879 0 0 0 .875-.876.879.879 0 0 0-.875-.876H.995a.879.879 0 0 0-.876.876v4.745a.88.88 0 0 0 .876.876z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 47 229" id="line_unfilled_left" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(1 -1)" fill="none" fill-rule="evenodd">
                    <path d="M44 5L0 5.5V226h44" stroke-opacity=".5" stroke="#FFF" stroke-linecap="square"></path>
                    <rect fill="#2CDCEB" transform="rotate(45 42 5)" x="39" y="2" width="6" height="6" rx="1"></rect>
                    <rect fill="#2CDCEB" transform="rotate(45 42 226)" x="39" y="223" width="6" height="6"
                          rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div class="c-business__text">
                Manage Offers & Placements
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_arrange" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 62 40" id="arrange-icon" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                      <circle cx="7.5" cy="7.5" r="7.5" fill="#EDEDF0"></circle>
                      <path fill="#9F9FAD"
                            d="M8.08 8.413c-.153-.024-.156-.446-.156-.446s.45-.447.55-1.047c.264 0 .427-.639.163-.864.01-.236.34-1.856-1.326-1.856-1.665 0-1.336 1.62-1.325 1.856-.265.225-.102.864.163.864.098.6.55 1.047.55 1.047s-.004.422-.158.446c-.494.08-2.341.894-2.341 1.787h6.222c0-.893-1.847-1.708-2.341-1.787z"></path>
                      <g transform="translate(47 25)">
                        <circle cx="7.5" cy="7.5" r="7.5" fill="#EDEDF0"></circle>
                        <path fill="#9F9FAD"
                              d="M8.08 8.413c-.153-.024-.156-.446-.156-.446s.45-.447.55-1.047c.264 0 .427-.639.163-.864.01-.236.34-1.856-1.326-1.856-1.665 0-1.336 1.62-1.325 1.856-.265.225-.102.864.163.864.098.6.55 1.047.55 1.047s-.004.422-.158.446c-.494.08-2.341.894-2.341 1.787h6.222c0-.893-1.847-1.708-2.341-1.787z"></path>
                      </g>
                      <rect width="39" height="15" x="21" fill="#EDEDF0" rx="2"></rect>
                      <rect width="27" height="3" x="27" y="4" fill="#BBBBC6" rx="1.5"></rect>
                      <rect width="11" height="3" x="27" y="8" fill="#BBBBC6" fill-opacity=".5" rx="1.5"></rect>
                      <rect width="39" height="15" x="2" y="25" fill="#EDEDF0" rx="2"></rect>
                      <rect width="27" height="3" x="8" y="29" fill="#BBBBC6" rx="1.5"></rect>
                      <rect width="11" height="3" x="8" y="33" fill="#BBBBC6" fill-opacity=".5" rx="1.5"></rect>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 108 8" id="line_unfilled" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(-1 -1)" fill="none" fill-rule="evenodd">
                    <path d="M5 5l96 .5" stroke-opacity=".5" stroke="#FFF" stroke-linecap="square"
                          class="bcline-unfilled-path"></path>
                    <rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect>
                    <rect fill="#2CDCEB" transform="rotate(45 105 5)" x="102" y="2" width="6" height="6" rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div class="c-business__text">
                Arrange Interviews
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_track" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 48 48" id="track-icon" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path stroke="#9F9FAD" d="M40.457 6.757H6.65v34.329"></path><circle cx="41.143" cy="6.857" r="6.857" fill="#EDEDF0"></circle><circle cx="41.143" cy="6.857" r="2.286" fill="#9F9FAD"></circle><circle cx="6.857" cy="6.857" r="6.857" fill="#EDEDF0"></circle><circle cx="6.857" cy="6.857" r="2.286" fill="#9F9FAD"></circle><path stroke="#9F9FAD" stroke-dasharray="1" d="M8 41.11h32.927"></path><circle cx="6.857" cy="41.143" r="6.857" fill="#EDEDF0"></circle><circle cx="6.857" cy="41.143" r="2.286" fill="#9F9FAD"></circle><circle cx="42.286" cy="41.143" r="2.286" fill="#9F9FAD"></circle></g></svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 108 8" id="line_unfilled" xmlns="http://www.w3.org/2000/svg">
                  <g transform="translate(-1 -1)" fill="none" fill-rule="evenodd">
                    <path d="M5 5l96 .5" stroke-opacity=".5" stroke="#FFF" stroke-linecap="square"
                          class="bcline-unfilled-path"></path>
                    <rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect>
                    <rect fill="#2CDCEB" transform="rotate(45 105 5)" x="102" y="2" width="6" height="6" rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div class="c-business__text">
                Track Applications
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_time-sheet" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 38 33" id="timesheet-icon" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect width="38" height="30" y="3" fill="#EDEDF0" rx="2"></rect><rect width="6" height="2" x="7" y="2" fill="#BBBBC6" rx="1" transform="rotate(-90 10 3)"></rect><rect width="6" height="2" x="16" y="2" fill="#BBBBC6" rx="1" transform="rotate(-90 19 3)"></rect><rect width="6" height="2" x="25" y="2" fill="#BBBBC6" rx="1" transform="rotate(-90 28 3)"></rect><rect width="6" height="4" x="7" y="10" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="16" y="10" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="25" y="10" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="7" y="17" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="16" y="17" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="25" y="17" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="7" y="24" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="16" y="24" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect><rect width="6" height="4" x="25" y="24" fill="#9F9FAD" fill-opacity=".5" rx="1"></rect></g></svg>
                </div>
              </div>
              <div class="c-business__ico-line">
                <svg viewBox="0 0 108 8" id="line_unfilled" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1 -1)" fill="none" fill-rule="evenodd"><path d="M5 5l96 .5" stroke-opacity=".5" stroke="#FFF" stroke-linecap="square" class="bcline-unfilled-path"></path><rect fill="#2CDCEB" transform="rotate(45 5 5)" x="2" y="2" width="6" height="6" rx="1"></rect><rect fill="#2CDCEB" transform="rotate(45 105 5)" x="102" y="2" width="6" height="6" rx="1"></rect></g></svg>
              </div>
              <div class="c-business__text">
                Track Applications
              </div>
            </div>
            <div class="c-business__icon-item iconItems c-business__icon-item_invoice" ref="iconItems">
              <div class="c-business__circle">
                <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                  <circle r="55" cx="55" style="stroke: rgba(255,255,255,0.1)" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                  <circle class="circleIcon" style="stroke: #2CDCEB;" r="55" cx="55" cy="55" fill="transparent"
                          stroke-dasharray="565.48" stroke-dashoffset="565.48"></circle>
                </svg>
                <div class="c-business__main-ico">
                  <svg viewBox="0 0 38 50" id="invoice-icon" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect width="38" height="50" fill="#EDEDF0" rx="2"></rect><path fill="#9F9FAD" d="M17.459 36c-.467 0-.908-.218-1.191-.592l-3.829-5.057a1.493 1.493 0 1 1 2.382-1.803l2.518 3.326 6.334-10.17a1.493 1.493 0 1 1 2.536 1.58l-7.482 12.012a1.493 1.493 0 0 1-1.268.704z"></path><rect width="24" height="3" x="6" y="5" fill="#BBBBC6" rx="1.5"></rect><rect width="14" height="3" x="6" y="9" fill="#BBBBC6" fill-opacity=".5" rx="1.5"></rect></g></svg>
                </div>
              </div>
              <div class="c-business__ico-line_big">
                <svg viewBox="0 0 288 115" id="line_unfilled_bottom" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path stroke="#FFF" stroke-linecap="square" stroke-opacity=".5" d="M20 13h254v81"></path><g transform="rotate(45 1.379 28.056)"><use fill="#000" filter="url(#bda)" xlink:href="#bdb"></use><use fill="#2CDCEB" xlink:href="#bdb"></use></g><g transform="rotate(45 255.136 108.814)"><use fill="#000" filter="url(#bdc)" xlink:href="#bdd"></use><use fill="#2CDCEB" xlink:href="#bdd"></use></g></g></svg>
              </div>
              <div class="c-business__text">
                Invoicing
              </div>
            </div>
          </div>
          <ul class="c-business__content-wrap" ref="contentWrapper">
            <li v-for="(item, index) of content_items"
                class="c-business__content-item"
                :class="`c-business__content-item_${item.id}`"
                :key="item.id"
                ref="contentItem"
            >
              <p class="c-business__content-sm-title">
                STEP{{ index + 1 }}
              </p>
              <h3 class="c-business__content-title">
                {{ item.title }}
              </h3>
              <p class="c-business__content-text">
                {{ item.text }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "BusinessSection",
    data() {
      return {
        content_items: [
          {
            id: 'cv',
            title: 'Upload CV',
            text: 'Instantly parse key information from CVs to save you time'
          },
          {
            id: 'search',
            title: 'Search & Match Candidates',
            text: 'Match candidates to jobs and vice versa at the click of a button'
          },
          {
            id: 'submit',
            title: 'Submit Candidates',
            text: 'Easily send candidates to jobs with Seven20 by auto-populating fields to streamline the process'
          },
          {
            id: 'manage',
            title: 'Manage Offers & Placements',
            text: 'Create Offers and Placements to help you track past, due and future revenue'
          },
          {
            id: 'arrange',
            title: 'Arrange Interviews',
            text: 'Book interviews that sync with your calendar, giving you an overview of your candidates'
          },
          {
            id: 'track',
            title: 'Track Applications',
            text: 'Log activity on candidates throughout the application process and monitor how far along each candidate gets in the interview process'
          },
          {
            id: 'time-sheet',
            title: 'Timesheet Management',
            text: 'Track timesheets for Contracts on either a Daily or Hourly basis. Margins and profit are auto-calculated from the timesheet'
          },
          {
            id: 'invoice',
            title: 'Invoicing',
            text: 'Instantly create and track invoices to give you a clear overview of your agency\'s financial situation'
          },
        ]
      }
    },
    methods: {
      add_active_class(element) {
        element.classList.add('active')
      },
      remove_active_class(element) {
        element.classList.remove('active')
      },
      set_dashoffset(element, offset) {
        element.style['stroke-dashoffset'] = offset;
      }
    },
    mounted() {
      const content_items = this.$refs.contentItem,
            circle_items = document.querySelectorAll('.circleIcon'),
            icon_block = document.querySelectorAll('.iconItems');

      for(let i = 0; i < content_items.length; i++) {
        let x;
        if (window.innerWidth > 1100) {
          x = (i === 3) ? 5 : (i === 5) ? 3 : i;
        } else {
          x = i;
        }
        const scene = this.$scrollmagic.scene({
          duration: content_items[i].offsetHeight,
          triggerElement: content_items[i],
          offset: -this.$refs.contentWrapper.offsetHeight * 0.1
        })
        scene.on('enter', (e) => {
          this.add_active_class(content_items[i])
          if(e.scrollDirection === "REVERSE") this.remove_active_class(content_items[i])
        })
        scene.on('progress', (e) => {
          let svg_dashoffset = 580 - (360 * e.progress);
          if (e.scrollDirection === "FORWARD") this.set_dashoffset(circle_items[x], svg_dashoffset);
          if (e.scrollDirection === "REVERSE") this.set_dashoffset(circle_items[x], svg_dashoffset);
        })
        scene.on('leave', (e) => {
          this.remove_active_class(content_items[i])
          if(e.scrollDirection === "FORWARD") this.add_active_class(icon_block[x])
          if(e.scrollDirection === "REVERSE") this.remove_active_class(icon_block[x])
        })
        this.$scrollmagic.addScene(scene)
      }
    }
  }
</script>

<style lang="scss">
  .c-business {
    &-sect {
      padding-top: rem(55);
      position: relative;
      padding-bottom: rem(300);
    }

    &__title {
      @extend %h2-title;
      color: $white;
      text-align: center;
      margin-bottom: rem(75);

      b {
        color: $orange;
      }
    }
    &__wrap {
      &_left {
        position: relative;
        display: flex;
        justify-content: space-between;
      }
    }
    &__items-wrap {
      position: sticky;
      top: rem(80);
      display: flex;
      flex-wrap: wrap;
      padding-left: rem(60);
      padding-right: rem(189);
      height: fit-content;
      max-width: rem(902);
      @include for-width(-laptop) {
        flex-direction: column;
        position: relative;
        padding-left: rem(30);
        padding-right: 0;
        top: 0;
      }
      @include for-width(-tablet) {
        padding-left: 0;
      }
    }
    &__icon-item {
      position: relative;
      width: 33%;
      margin-bottom: rem(66);
      @include for-width(-laptop) {
        width: auto;
      }
      &.active {
        .c-business {
          &__main-ico {
            opacity: 1;
          }
          &__text {
            color: $white;
          }
          &__ico-line, &__ico-line_big {
            svg {
              path {
                stroke: $soft_blue;
              }
            }
          }
        }
      }
      &_cv {
        .c-business {
          &__content-item {
            @include for-width(-laptop) {
              padding-bottom: rem(40);
            }
          }
        }
      }
      &_search {
        .c-business {
          &__main-ico {
            width: rem(43);
            height: rem(45);
          }
        }
      }
      &_manage {
        .c-business {
          &__main-ico {
            width: rem(32);
            height: rem(46);
          }
        }
      }
      &_arrange {
        .c-business {
          &__main-ico {
            width: rem(49);
            height: rem(32);
          }
          &__content-item {
            @include for-width(-laptop) {
              padding-bottom: rem(60);
            }
            @include for-width(-tablet) {
              padding-bottom: rem(40);
            }
          }
        }
      }
      &_track {
        .c-business {
          &__main-ico {
            width: rem(38);
            height: rem(38);
          }
          &__content-item {
            @include for-width(-laptop) {
              padding-bottom: rem(40);
            }
            @include for-width(-laptop) {
              padding-bottom: rem(40);
            }
          }
        }
      }
      &_time-sheet {
        .c-business {
          &__main-ico {
            width: rem(30);
            height: rem(26);
          }
          &__content-item {
            @include for-width(-tablet) {
              padding-bottom: rem(40);
            }
          }
        }
      }
      &_invoice {
        .c-business {
          &__main-ico {
            width: rem(30);
            height: rem(40);
          }
          &__content-item {
            @include for-width(-laptop) {
              padding-bottom: rem(50);
            }
          }
        }
      }
      // line settings
      &_submit {
        .c-business {
          &__ico-line {
            svg {
              width: rem(49);
            }
          }
          &__content-item {
            @include for-width(-laptop) {
              padding-bottom: rem(71);
            }
          }
        }
      }
      &_manage {
        .c-business {
          &__ico-line {
            right: auto;
            left: rem(-44);
            svg {
              width: rem(50);
            }
          }
        }
      }
      &_arrange, &_track, &_invoice {
        .c-business {
          &__ico-line {
            right: auto;
            left: 0;
            transform: translateX(-99%);
          }
        }
      }
      &_invoice {
        .c-business {
          &__ico-line_big {
            right: auto;
            left: 0;
            top: rem(-37);
            transform: translateX(-247%);
            svg {
              width: rem(293);
            }
          }
        }
      }
    }
    &__main-ico {
      opacity: .4;
      transition: all .3s ease;
      svg {
        width: inherit;
        height: inherit;
      }
    }
    &__circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(110);
      height: rem(110);
      #svg {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit !important;
        height: inherit !important;
      }
      @include for-width(-laptop) {
        margin: 0 auto;
      }
    }
    &__ico-line, &__ico-line_big {
      position: absolute;
      top: 30%;
      right: -3px;
      transform: translateY(-50%);
      width: rem(114);
      height: rem(2);
      svg {
        path {
          stroke: $body_text;
        }
      }
      @include for-width(-laptop) {
        display: none;
      }
    }
    &__text {
      @extend %circle-title;
      color: $body_text;
      text-align: center;
      max-width: rem(110);
      margin-top: rem(6);
      transition: all .3s ease;
      @include for-width(-laptop) {
        max-width: 100%;
      }
      @include for-width(-tablet) {
        @include font_sizes(12, 17)
      }
    }
    &__content {
      &-wrap {
        padding-top: rem(150);
        max-width: rem(313);
        margin-right: 10%;
        @include for-width(+desktop) {
          margin-right: 13%;
        }
        @include for-width(-laptop) {
          padding-top: 0;
        }
        @include for-width(-tablet) {
          margin-right: 0;
          max-width: rem(160);
        }
      }
      &-item {
        padding-bottom: rem(46);
        &_cv {
          @include for-width(-laptop) {
            padding-bottom: rem(90);
          }
        }
        &_search {
          @include for-width(-laptop) {
            padding-bottom: rem(98);
          }
          @include for-width(-tablet) {
            padding-bottom: rem(88);
          }
        }
        &_submit {
          @include for-width(-laptop) {
            padding-bottom: rem(57);
          }
          @include for-width(-tablet) {
            padding-bottom: rem(74);
          }
        }
        &_manage {
          @include for-width(-tablet) {
            padding-bottom: rem(80);
          }
        }
        &_arrange {
          @include for-width(-laptop) {
            padding-bottom: rem(59);
          }
          @include for-width(-tablet) {
            padding-bottom: rem(78);
          }
        }
        &_track {
          @include for-width(-laptop) {
            padding-bottom: rem(40);
          }
          @include for-width(-tablet) {
            padding-bottom: rem(50);
          }
        }
        &_time-sheet {
          @include for-width(-laptop) {
            padding-bottom: rem(70);
          }
          @include for-width(-tablet) {
            padding-bottom: rem(35);
          }
        }
        &.active {
          .c-business {
            &__content {
              &-sm-title {
                color: $soft_blue;
              }
              &-title, &-text {
                color: $white;
              }
            }
          }
        }
      }
      &-sm-title, &-title, &-text {
        transition: all .3s ease;
      }
      &-sm-title {
        @extend %small-title;
        color: $orange;

      }
      &-title {
        @extend %h3-title;
        color: $body_text;
        margin-top: rem(1);
        margin-bottom: rem(25);
        @include for-width(-tablet) {
          @include font_sizes(17, 20)
        }
      }
      &-text {
        @extend %body-text;
        color: $body_text;
        @include for-width(-tablet) {
          @include font_sizes(12, 17)
        }
      }
    }
  }
</style>
