<template>
  <header class="c-header-sect">
    <div class="container">
      <div class="c-header">
        <div class="c-header__wrap c-header__wrap_left">
          <p class="c-header__small-text">
            CRM/ATS Built on Salesforce - World's #1 CRM Platform
          </p>
          <h1 class="c-header__title">
            Seven20 takes <br/>
            <b>Recruitment Agencies</b><br/>
            to the next level
          </h1>
          <BaseButton class="c-header__btn">
            <span>
              Book Demo
            </span>
          </BaseButton>
        </div>
        <figure class="c-header__wrap c-header__wrap_right">
          <img src="~@/assets/img/header-ill.svg" alt="Illustration">
          <BlobObject :width="is_mobile ? 700 : 400" :height="is_mobile ? 700 : 400" class="c-header__blob"/>
        </figure>
      </div>
    </div>
    <HeaderBackground/>
  </header>
</template>

<script>
  import BaseButton from "./BaseButton";
  import HeaderBackground from "./HeaderBackground";
  import BlobObject from "./BlobObject";
  export default {
    name: "Header",
    components: {BlobObject, HeaderBackground, BaseButton},
    computed: {
      is_mobile() {
        return window.innerWidth > 1100;
      }
    },
  }
</script>

<style lang="scss">
.c-header {
  display: flex;
  justify-content: space-between;
  @include for-width(-laptop) {
    flex-direction: column;
  }
  &-sect {
    position: relative;
    padding-top: rem(150);
    height: 100vh;
    overflow: hidden;
    @include for-width(-mobile-md) {
      height: auto;
      padding-bottom: rem(150);
    }
  }
  &__wrap {
    &_left {
      padding-top: rem(30);
      padding-left: rem(30);
      @include for-width(-laptop) {
        padding: 0;
      }
    }
    &_right {
      position: relative;
      @include for-width(-laptop) {
        width: 100%;
      }
    }
  }
  &__blob {
    position: absolute;
    top: rem(-100);
    left: 0;
    z-index: -1;
    @include for-width(-laptop) {
      top: rem(-50);
      left: rem(-50);
    }
    svg {
      overflow: visible !important;
    }
  }
  &__small-text {
    position: relative;
    @extend %small-text;
    color: $body_text;
    padding-left: rem(9 + 6);
    @include for-width(-laptop) {
      text-align: center;
    }
    @include for-width(-tablet) {
      @include font_sizes(10, 15)
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: rem(6);
      height: rem(6);
      background-color: $soft_blue;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      @include for-width(-laptop) {
        display: none;
      }
    }
  }
  &__title {
    @extend %h1-title;
    margin: rem(24) 0 rem(35);
    @include for-width(-laptop) {
      text-align: center;
    }
    @include for-width(-tablet) {
      @include font_sizes(30, 36)
    }
    @include for-width(-mobile-md) {
      @include font_sizes(25, 31)
    }
    b {
      color: $orange;
    }
  }
  &__btn {
    @include for-width(-laptop) {
      margin: 0 auto rem(30);
    }
  }
}
</style>
