<template>
  <div class="c-waves" ref="wrap">
  </div>
</template>

<script>
  import * as THREE from 'three';

  export default {
    name: "HeaderBackground",
    data() {
      return {
        SEPARATION: 40,
        AMOUNTX: 130,
        AMOUNTY: 35,
        container: null,
        camera: null,
        scene: null,
        renderer: null,
        particles: null,
        particle: null,
        count: 0,
        mouseX: 0,
        mouseY: 0,
        windowHalfX: null,
        windowHalfY: null,
      }
    },
    methods: {
      init() {
        const camera_settings = window.innerWidth > 1100 ?
          new THREE.PerspectiveCamera(90, window.innerWidth / 600, 1, 5000) :
          new THREE.PerspectiveCamera(90, window.innerWidth / window.innerHeight, 1, 5000)
        this.container = this.$refs.wrap;
        this.camera = camera_settings;
        this.camera.position.y = 150; //changes how far back you can see i.e the particles towards horizon
        this.camera.position.z = 300; //This is how close or far the particles are seen

        this.camera.rotation.x = 0.35;

        this.scene = new THREE.Scene();

        this.particles = new Array();

        let PI2 = Math.PI * 2;
        let material = new THREE.SpriteCanvasMaterial( {

          color: 0x6D667F, //changes color of particles
          program: function ( context ) {

            context.beginPath();
            context.arc( 0, 0, 0.1, 0, PI2, true);
            context.fill();
          }

        } );

        let i = 0;

        for ( let ix = 0; ix < this.AMOUNTX; ix ++ ) {

          for ( let iy = 0; iy < this.AMOUNTY; iy ++ ) {

            this.particle = this.particles[ i ++ ] = new THREE.Sprite( material );
            this.particle.position.x = ix * this.SEPARATION - ( ( this.AMOUNTX * this.SEPARATION ) / 2 );
            this.particle.position.z = iy * this.SEPARATION - ( ( this.AMOUNTY * this.SEPARATION ) - 10 );
            this.scene.add( this.particle );

          }

        }

        this.renderer = new THREE.CanvasRenderer();
        this.renderer.setSize( window.innerWidth, window.innerHeight );
        this.renderer.setClearColor( 0x121134, 1);
        this.container.appendChild( this.renderer.domElement );

        window.addEventListener( 'resize', this.onWindowResize, false );
      },
      onWindowResize() {

        this.windowHalfX = window.innerWidth / 2;
        this.windowHalfY = window.innerHeight / 2;

        this.camera.aspect = window.innerWidth / window.innerHeight;
        this.camera.updateProjectionMatrix();

        this.renderer.setSize(window.innerWidth, window.innerHeight);

      },
      animate() {

        requestAnimationFrame(this.animate);

        this.render();

      },
      render() {
        let i = 0;

        for ( let ix = 0; ix < this.AMOUNTX; ix ++ ) {

          for ( let iy = 0; iy < this.AMOUNTY; iy ++ ) {

            this.particle = this.particles[ i++ ];
            this.particle.position.y = ( Math.sin( ( ix + this.count ) * 0.5 ) * 20 ) + ( Math.sin( ( iy + this.count ) * 0.5 ) * 20 );
            this.particle.scale.x = this.particle.scale.y = ( Math.sin( ( ix + this.count ) * 0.3 ) + 2 ) * 4 + ( Math.sin( ( iy + this.count ) * 0.5 ) + 1 ) * 4;

          }

        }

        this.renderer.render( this.scene, this.camera );

        // This increases or decreases speed
        this.count += 0.2;
      }
    },
    mounted() {
      this.windowHalfX = window.innerWidth / 2;
      this.windowHalfY = window.innerHeight / 2;
      this.init();
      this.animate();
    }
  }
</script>

<style lang="scss">
.c-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  pointer-events: none;
}
</style>
