<template>
  <nav class="navigation">
    <div class="container">
      <div class="nav">
        <div class="nav__wrapper">
          <a href="#" class="nav__logo">
            <img src="~@/assets/img/logo.svg" alt="Logotype">
          </a>
          <ul class="nav__menu" :class="{ active: open_mobile_menu && !is_mobile}">
            <li class="nav__menu-itm">
              <a href="#" class="nav__menu-link">
                Home
              </a>
            </li>
            <li class="nav__menu-itm">
              <a href="#" class="nav__menu-link">
                Product
              </a>
            </li>
            <li class="nav__menu-itm">
              <a href="#" class="nav__menu-link">
                Pricing
              </a>
            </li>
            <li class="nav__menu-itm">
              <a href="#" class="nav__menu-link">
                Partners
              </a>
            </li>
            <li class="nav__menu-itm">
              <a href="#" class="nav__menu-link">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="nav__btns">
          <a href="#" class="nav__login -show-on-laptop">
            <span>
              Login
            </span>
          </a>
          <a href="#" class="nav__demo">
            <span>
              Book Demo
            </span>
          </a>
          <BurgerButton v-if="!is_mobile"
                        :is_active="open_mobile_menu"
                        @click="open_mobile_menu = !open_mobile_menu"/>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import BurgerButton from "./BurgerButton";
  export default {
    name: "Navigation",
    components: {BurgerButton},
    data() {
      return {
        open_mobile_menu: false
      }
    },
    computed: {
      is_mobile() {
        return window.innerWidth > 1100;
      }
    },
  }
</script>

<style lang="scss">
.navigation {
  padding-top: rem(15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $hard_blue;
  z-index: 5;
  padding-bottom: rem(15);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    @include for-width(-tablet) {
      width: rem(100);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-left: rem(77);
    @include for-width(-laptop) {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: $hard_blue;
      flex-direction: column;
      justify-content: center;
      transition: all .3s ease;
      transform: translateX(100%);
      &.active {
        transform: translateX(0);
      }
    }
    &-itm {
      margin-right: rem(32);
      @include for-width(-laptop) {
        margin-right: 0;
        padding: rem(30) 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      @extend %menu-text;
      color: $white;
      @include for-width(-laptop) {
        @include font_sizes(20, 25)
      }
      &:hover {
        color: $soft_blue;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__login {
    @extend %linear-without-border;
    @include for-width(-laptop) {

    }
  }
  &__demo {
     @extend %linear-btn;
  }
}
</style>
