<template>
  <div id="app">
    <Navigation/>
    <main class="main-wrap">
      <Header/>
      <BusinessSection/>
    </main>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Navigation from "./components/Navigation";
import Header from "./components/Header";
import BusinessSection from "./components/BusinessSection";

export default {
  name: 'App',
  components: {
    BusinessSection,
    Header,
    Navigation,
    HelloWorld
  },
}
</script>

<style lang="scss">
</style>
