//---------------------------------------------fonts
$font_path: "~@/assets/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~@/assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$black: #000;
$white: #fff;

$soft_blue: #2CDCEB;
$body_text: rgba(255,255,255,0.6);
$opacity_blue: rgba(44,220,235,0.42);
$hard_blue: #121134;
$orange: #FE6333;



$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
